/* .bootstrap-container {
    padding: 0;
} */

.middle-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 570px;

}

.footer-row {
    padding-top: 100px;

}

.form-title {
    margin-bottom: 20px;
}